html, body{height: 100%;}

body {
    background:#fff;
    animation:changebg infinite 15s;
    //background-image: url(/images/bg-coming-soon.svg);
}

@keyframes changebg{
    0% {background:#fff;}
    50% {background:#000;}
    100% {background:#fff;}
}
@keyframes changelogo{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes changelogo-reverse{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.coming-container{
    background-image: url(/images/bg-coming-soon.svg);
    height: 100vh;
    background-position: center;
    background-size: cover;

    .logocont{
        // width: 100vw;
        // height: 100vh;
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: 25%;
        // background-image: url(/images/logo.svg);
        // animation:changelogo infinite 15s;

        width: 100%;
        max-width: 500px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img{
            width: 90%;
            max-width: 495px;
            height: auto;
            
        }
        .logowhite{
            //background: url("/images/logo.svg");
            position: absolute;
            animation:changelogo-reverse infinite 15s;
            // margin-top: -50px;
        }
        .logodark{
            //background: url("/images/logo-dark.svg");
            animation:changelogo infinite 15s;
            position: absolute;
            // margin-top: -50px;
        }

        // &:before{
        //     content: url("/images/logo.svg");
        //     position: absolute;
        //     animation:changelogo-reverse infinite 15s;
        //     margin-top: -50px;
        // }
        // &:after{
        //     content: url("/images/logo-dark.svg");
        //     animation:changelogo infinite 15s;
        //     position: absolute;
        //     margin-top: -50px;
        // }

    }
    .typetext{
        font-family: madefont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:var(--or-green);
        font-size: 4vh;
        min-height:105px;
        padding: 0 20px;
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width:768px) {
    
    .coming-container{
        background-image: url(/images/bg-coming-soon.svg);
        height: 100vh;
        background-position: center;
        background-size: cover;
    
        .logocont{
            align-items: end;
            img{
                width: 90%;
                max-width: 495px;
                height: auto;
                
            }
            .logowhite{
                margin-top: 0px;
            }
            .logodark{
                margin-top: 0px;
            }
    
    
        }
        .typetext{
            min-height:200px !important;
            width: 100%;
            font-size: 3vh !important;
        }
    }
}